.logoutButton{
    display: flex;
    justify-content: center;
    margin-left: 90%;
    padding: 0.7rem;
    border-radius: 0.5rem;
    background-color: #1F5CA5;
    border: none;
    cursor: pointer;
    width: 80px;
    margin-top: -40px;
}
.logoutButton.svg {
        font-size: 10rem;
        color: #ebe7ff;
    }
