.profile{
    position: absolute;
    width: 350px;
    height: 600px;
    left: 1rem;
    top: 100px;
    background: rgba(78, 136, 204, 0.5);
    border-radius: 12px;
}

image{
    height: 3rem;
    margin-left: 10px;
}

h2{
    margin-left: 20px;
    margin-top: -2.5rem;
}

.profileButtons{
    margin-top: 0.5rem;
}

.settings{
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    width: 142px;
}

.addConnection{
    width: 142px;
}

.settingsLinks{
    margin-top: 4rem;
    color: #1F5CA5;
    display:grid;
    font-size: large;
}

.manageProfile{
    margin-top: 6.3rem;
    margin-left: 385px;
    background-color: rgba(78, 136, 204, 0.1);;
    height: 600px;
}