
.contact {
        background-color: #ffffff34;
        min-height: 5rem;
        cursor: pointer;
        width: 90%;
        border-radius: 0.2rem;
        padding: 0.4rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        transition: 0.5s ease-in-out;
    }

.contact.avater.img{
        height: 5px;
}

.contact.h3{
    color: #0757AA;
}

.Container.selected{
    background-color: #9a86f3;

 }
.currentUser{
    color: white;
    margin-left: 10%;
    font-size: 30px;
    padding: 20px;
}

.avatar{
    flex-direction: row;
}
