.Friend{
    display: -ms-inline-flexbox;
    border: 1px solid brown;
    margin: 10px;
    width: 200px;
    height: 150px;
    background-color: rgb(136, 136, 230);
    
}
.Holder{
    display: inline-flex;
    position:relative;
    max-width: 600px;
    height: 200px;
    flex-direction: row;
    left: 400px;
}